<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
         <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
    menu
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam beatae debitis deserunt dolor dolorem doloremque doloribus ea enim explicabo fugiat incidunt minima nam necessitatibus neque, nisi non nulla similique?</p>
      {% block content%}
       {% endblock %}
     <footer>
         footer
     </footer>
    </body>
</html>
