<h1>Teachers</h1>
<table border="1">
    <tr>
        <td>Id</td>
        <td>FirstName</td>
        <td>LastName</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Asma</td>
        <td>Ayari</td>
    </tr>
</table>
