<a href="{{ path('app_addclassroom') }}">Add Classroom</a>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Nom</td>
        <td>Actions</td>
    </tr>
    {% for c in tabClassroom %}
        <tr>
            <td> id: {{ c.id }}</td>
            <td> name: {{ c.nom }}</td>
            <td>
                <a href="{{ path('app_deleteProduit',{'id':c.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
