<h1 style="color: mediumvioletred" >About Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquam at cum cupiditate deleniti doloribus error esse, excepturi fugiat illo illum optio praesentium provident,
    quibusdam reprehenderit sunt veritatis, voluptatibus?</p>
