		body{
			background-color: yellow;
		}
		h2{
			color: green;
			font-size: 40px;
		}
		h1{
			color:blue;
		}
	.title1{
		color: red;
		font-size: 30px;
		background-color: green;
	}
	.title2{
		color: green;
		font-size: 40px;
		background-color: red;
		width: 500px;
		height: 100px;	}
	#para{
		color: blue;
	}
