<h1>Classroom</h1>
<a href="#">+Add</a>
<br>
{% for c in tabClass %}
id:{{ c.id }}/title:{{ c.title }}/Description:{{  c.description }}
    <a href="#">Delete</a>
    <a href="{{ path('classroomShow',{'id':c.id}) }}">Show More</a>
    <a href="#">Update</a>
    <br>
{% endfor %}
