<table border="1">
    <tr>
        <td>Id</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Action</td>
    </tr>
    {% for chauffeur in chauffeurs %}
        <tr>
            <td>{{ chauffeur.id}}</td>
            <td>{{ chauffeur.nom}}</td>
            <td>{{ chauffeur.prenom}}</td>
            <td><a href="{{ path('updateChauffeur',{'id':chauffeur.id}) }}">Update</a></td>
        </tr>
    {% endfor %}
</table>
