<h1 style="color: red">List Product</h1>


{% set x= 10 %}
{% set y= 90 %}
{{ x+y }}
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>price</td>
    </tr>
    <tr>
        <td>1</td>
        <td>product1</td>
        <td>10</td>
    </tr>
    <tr>
        <td>2</td>
        <td>product2</td>
        <td>20</td>
    </tr>
</table>
