{{ cat }}

<table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
    </tr>
    <tr>
        <td>1</td>
        <td>category1</td>
    </tr>   <tr>
        <td>2</td>
        <td>category2</td>
    </tr>
</table>
